# Distribution / packaging
build/
dist/

# Unit test / coverage reports
.cache
.hypothesis/
.pytest_cache/

# RPDK logs
rpdk.log*

# Node.js
node_modules/
coverage/

# contains credentials
sam-tests/

# temporary build
tmp/

# SAM files
build.toml
.aws-sam/*

# Yarn berry
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions